{% extends "G:\Projects\ExpenseTracker\template\template.html" %}
{% block content %}

<header> <!-- Remember to IDs and Classes to tags. More research on that later -->
   <div>
        <div>
            <h1>Add an expense</h1>
            <!-- href for expense adding later
            <a href="{{ url_for('addExpenses') }}"> Add an Expense </a> -->
        </div>
    </div>
</header>
<section> <!-- Remember to IDs and Classes to tags. More research on that later -->
    <div>
        <div>
            <h2> Track your expenses </h2>
            <p> In total, you have spent $<b>{{ expenses }}</b> so far.</p>

            <h2> By Category </h2>
            {% for items in expensesByCat %}
            <li> US$ {{ items[i] }} in <b> {{ items[0] }}</b></li>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}