{% extends "template.html" %}
<!-- Research block content purpose later -->
{% block content %}

<a href="{{ url_for('index') }}">Home</a>

<form method="post">
    {{ form.csrf_token() }}
        <p>Description:
            {{ form.description() }}</p>
        <p>Location:
            {{ form.location() }}</p>
        <p>Category:
            {{ form.category() }} </p>
        <p>Cost:
            {{ form.cost() }} </p>
        <p>Currency:
            {{ form.currency() }} </p>
        <p>Date:
            {{ form.date() }} </p>
    <input value="Submit" type="submit">
</form>

{% endblock %}